@{
    ViewData["Title"] = "Về GreenCloset";
}
<section class="site-banner jarallax min-height300 padding-large" style="background: url(https://i.insider.com/5ce823d04cf2704163406f59?width=800&format=jpeg) no-repeat;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-title text-white" style="background-color: var(--primary-color); padding: 10px;">Về Green Closet</h1>
            </div>
        </div>
    </div>
</section>
<!--Shipping information-->
<section id="shipping-information">
    <hr>
    <div class="container-fluid ms-5">
        <div class="row d-flex flex-wrap align-items-center justify-content-between">
            <div class="col-md-3 col-sm-6">
                <div class="icon-box">
                    <i class="icon icon-truck"></i>
                    <h4 class="block-title">
                        <strong>Miễn phí ship</strong> cho đơn hàng từ 499k
                    </h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="icon-box">
                    <i class="icon icon-return"></i>
                    <h4 class="block-title">
                        <strong>Hoàn trả tiền</strong> trong vòng 2 tiếng
                    </h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="icon-box">
                    <i class="icon icon-tags1"></i>
                    <h4 class="block-title">
                        <strong>Thuê từ 2 bộ</strong> chỉ từ 99k/bộ
                    </h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="icon-box">
                    <i class="icon icon-help_outline"></i>
                    <h4 class="block-title">
                        <strong>Hỗ trợ trực tuyến</strong> trong 10 phút
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <hr>
</section>
<!--Shipping information-->
<!--About us-->
<section id="about-us">
    <div class="container mb-5">
        <div class="row d-flex align-items-center">
            <div class="col-lg-6 col-md-12">
                    <img src="https://pirg.org/wp-content/uploads/2022/07/Textile-Waste-Fashion-Swapan-Photography-Shutterstock.jpg" alt="single" class="about-image">
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="detail">
                    <div class="display-header">
                        <h2 class="section-title">Tại sao Green Closet ra đời ?</h2>
                        <p>
                            GreenCloset ra đời với mong muốn giải quyết vấn đề rác thải thời trang đang ngày càng nghiêm trọng. Mỗi năm, hàng triệu tấn quần áo bị vứt bỏ, gây ảnh hưởng lớn đến môi trường. Chúng tôi tin rằng ai cũng có thể mặc đẹp mà vẫn bảo vệ được hành tinh.
                            <br>
                            Với mô hình cho thuê trang phục, GreenCloset giúp bạn tiết kiệm chi phí, làm mới phong cách mỗi ngày mà không gây lãng phí. Đây không chỉ là giải pháp thời trang bền vững, mà còn là cách sống văn minh và có trách nhiệm với tương lai.
                        </p>
                        <div class="btn-wrap mb-5 mt-5">
                            <a asp-action="Shop" asp-controller="Home" class="btn btn-dark btn-medium d-flex align-items-center" tabindex="0">
                               Thuê đồ ngay<i class="icon icon-arrow-io"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--About us-->
<section id="testimonials" class="padding-large">
    <div class="container mb-5">
        <div class="reviews-content">
            <div class="row d-flex flex-wrap">
                <div class="col-md-2">
                    <div class="review-icon">
                        <i class="icon icon-right-quote"></i>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="swiper testimonial-swiper overflow-hidden">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="testimonial-detail">
                                    <p>“Buy less, choose well, make it last.”</p>
                                    <p>“Mua ít lại, chọn thật kỹ, và dùng thật lâu.”</p>
                                    <div class="author-detail">
                                        <div class="name">
                                           - Vivienne Westwood, nhà thiết kế thời trang huyền thoại người Anh.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="testimonial-detail">
                                    <p>“Fast fashion isn’t free. Someone, somewhere is paying.”</p>
                                    <p>“Thời trang nhanh không miễn phí. Ở đâu đó, ai đó đang phải trả giá.”</p>
                                    <div class="author-detail">
                                        <div class="name">
                                           - Lucy Siegle, nhà báo môi trường & tác giả sách "To Die For: Is Fashion Wearing Out the World?
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="testimonial-detail">
                                    <p>“"Why buy for one occasion when you can rent for every moment?"</p>
                                    <p>Tại sao phải mua chỉ để mặc một lần, khi bạn có thể thuê để toả sáng ở mọi khoảnh khắc?"</p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="testimonial-detail">
                                    <p>“"Renting clothes isn’t just smart — it’s sustainable."</p>
                                    <p>"Thuê quần áo không chỉ thông minh, mà còn bền vững với môi trường."</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-arrows">
                        <button class="prev-button">
                            <i class="icon icon-arrow-left"></i>
                        </button>
                        <button class="next-button">
                            <i class="icon icon-arrow-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>