﻿@using System.Security.Claims
@{
    var isLoggedIn = User.Identity.IsAuthenticated;
    var accountEmail = isLoggedIn ? User.FindFirst(ClaimTypes.Email)?.Value : null;
    var roles = isLoggedIn ? User.FindFirst(ClaimTypes.Role)?.Value : null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="~/image/logo.png"/>
    <title>@ViewData["Title"] - GreenCloset</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="//cdn.datatables.net/2.0.7/css/dataTables.dataTables.min.css" />  
    <link rel="stylesheet" href="~/css/normalize.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/icomoon/icomoon.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/vendor.css" asp-append-version="true" />
    <!--Icon font-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

    <!--Google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <!--Customer CSS-->
    @if (roles == "Admin")
    {
        <link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />
    }
    else
    {
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    }
    @RenderSection("Styles", required: false)

</head>
<body>
    <header>

        @if (roles == "Admin")
        {
            <partial name="_AdminNavbar" ; />
        }
        else
        {
            <partial name="_NormalNavbar" ; />

        }
    </header>
    <div class="container-fluid m-0 p-0">
        <main role="main" class="pb-3">
            <partial name="_Notification" ; />
            @RenderBody()
        </main>
    </div>
        <partial name="_Footer" ; />




   
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="//cdn.datatables.net/2.0.7/js/dataTables.min.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="~/js/plugins.js" asp-append-version="true"></script>
    @if (roles == "Admin")
    {
        <script src="~/js/simplebar.min.js" asp-append-version="true"></script>
        <script src="~/js/admin.js" asp-append-version="true"></script>
    }
    else
    {
        <script src="~/js/site.js" asp-append-version="true"></script>
    })
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
