@{
    var isLoggedIn = User.Identity.IsAuthenticated;
    var pageTile = ViewData["Title"] as string;
    var categories = ViewBag.Categories as IEnumerable<Category>;
    categories = categories?.Take(8);
}
<partial name="_SearchPopup" /> 
<header>
    <div id="header-wrap">
        @if (pageTile != "Đăng nhập" && pageTile != "Đăng ký")
        {
            <nav class="secondary-nav border-bottom">
                <div class="container">
                    <div class="row d-flex align-items-center">
                        <div class="col-md-4 header-contact">
                            <p>
                                Gọi ngay <strong>+84 686.868.686</strong>
                            </p>
                        </div>
                        <div class="col-md-4 shipping-purchase text-center">
                            <p><strong>Miễn phí giao hàng</strong> với đơn từ 499k</p>
                        </div>
                        <div class="col-md-4 col-sm-12 user-items">
                            <ul class="d-flex justify-content-end list-unstyled">
                                <li>
                                    <a asp-action="Login" asp-controller="Home">
                                        <i class="icon icon-user"></i>
                                    </a>
                                </li>
                                <li>
                                    <a asp-action="Cart" asp-controller="User">
                                        <i class="fa fa-cart-shopping"></i>
                                    </a>
                                </li>
                                <li class="user-items search-item pe-3">
                                    <a href="#" class="search-button">
                                        <i class="icon icon-search"></i>
                                    </a>
                                </li>
                                @if (isLoggedIn)
                                {
                                    <li class="user-items search-item pe-3">
                                        <a asp-action="Logout" asp-controller="Home" class="text-danger">
                                            <i class="fa fa-right-from-bracket"></i>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        }
        <nav class="primary-nav">
            <div class="container">
                <div class="row d-flex align-items-center">
                    <div class="col-lg-2 col-md-2 mt-2 mb-2">
                        <div class="main-logo">
                            <a asp-action="Index" asp-controller="Home">
                                <img src="/image//headerlogo.png" alt="logo" style="height:60px; width:auto">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-10 col-md-10">
                        <div class="navbar">

                            <div id="main-nav" class="stellarnav d-flex justify-content-end right">
                                <ul class="menu-list">

                                    <li><a asp-action="Index" asp-controller="Home" class="item-anchor">Trang chủ</a></li>


                                    <li><a asp-action="About" asp-controller="Home" class="item-anchor">Về GreenCloset</a></li>

                                    <li class="menu-item has-sub">
                                        <a href="shop.html" class="item-anchor d-flex align-item-center" data-effect="Shop">Danh mục cho thuê<i class="icon icon-chevron-down"></i></a>
                                        <ul class="submenu">
                                            @if (categories != null && categories.Any())
                                            {
                                                @foreach (var category in categories)
                                                {
                                                    <li style="padding: 10px; width:300px"><a asp-action="" asp-controller="Hone" asp-asp-route-id="@category.Id" class="item-anchor"> @category.CategoryName</a></li>
                                                }
                                                <li style="padding: 10px; width:300px"><a asp-action="" asp-controller="Hone" asp-asp-route-id="" class="item-anchor"> Xem tất cả</a></li>

                                            }
                                            else
                                            {
                                                <li style="padding:10px; width:300px"><a class="item-anchor">Chưa có danh mục</a></li>
                                            }
                                        </ul>
                                    </li>
                                    <li><a href="contact.html" class="item-anchor" data-effect="Contact">Liên hệ</a></li>

                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>
