@{
    var categories = ViewBag.Categories as IEnumerable<Category>;
}
<div class="search-popup">
    <div class="search-popup-container">

        <form role="search" method="get" class="search-form" asp-action="Shop" asp-controller="Home">
            <input type="search" id="search-form" class="search-field" placeholder="Nhập và nhấn enter" value="" name="search" />
            <button type="submit" class="search-submit"><i class="icon icon-search"></i></button>
        </form>

        <h5 class="cat-list-title">Danh mục cho thuê</h5>

        <ul class="cat-list">
            @if (categories != null && categories.Any())
            {
                @foreach (var category in categories)
                {
                    <li class="cat-list-item"><a asp-action="Shop" asp-controller="Home" asp-route-categoryIds="@category.Id"> @category.CategoryName</a></li>
                }
            }
            else
            {
                <li class="cat-list-item">Chưa có danh mục</li>
            }

        </ul>
    </div>
</div>