<div class="search-popup">
    <div class="search-popup-container">

        <form role="search" method="get" class="search-form" asp-action="Search" asp-controller="Home">
            <input type="search" id="search-form" class="search-field" placeholder="Nhập và nhấn enter" value="" name="search" />
            <button type="submit" class="search-submit"><a href="#"><i class="icon icon-search"></i></a></button>
        </form>

        <h5 class="cat-list-title">Danh mục cho thuê</h5>

        <ul class="cat-list">
            <li class="cat-list-item">
                <a href="shop.html" title="Men Jackets">Men Jackets</a>
            </li>
            <li class="cat-list-item">
                <a href="shop.html" title="Fashion">Fashion</a>
            </li>
            <li class="cat-list-item">
                <a href="shop.html" title="Casual Wears">Casual Wears</a>
            </li>
            <li class="cat-list-item">
                <a href="shop.html" title="Women">Women</a>
            </li>
            <li class="cat-list-item">
                <a href="shop.html" title="Trending">Trending</a>
            </li>
            <li class="cat-list-item">
                <a href="shop.html" title="Hoodie">Hoodie</a>
            </li>
            <li class="cat-list-item">
                <a href="shop.html" title="Kids">Kids</a>
            </li>
        </ul>
    </div>
</div>