@model Guid

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#uploadModal-@Model">
    Up bill chuyển tiền ở đây
</button>

<div class="modal fade" id="uploadModal-@Model" tabindex="-1" aria-labelledby="uploadModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="uploadModalLabel-@Model">Bill chuyển tiền</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Đóng"></button>
            </div>

            <div class="modal-body">
                <form asp-action="SubmitBillLessoer" asp-controller="Lessor" method="post" enctype="multipart/form-data">
                    <input name="userId" value="@Model" hidden />
                    <div class="mb-3">
                        <label for="billImage" class="form-label">Chọn ảnh:</label>
                        <input class="form-control" type="file" name="fileImage" id="billImage-@Model" accept="image/*" required />
                    </div>
                    <button type="submit" class="btn btn-success">Tải lên</button>
                </form>
            </div>

        </div>
    </div>
</div>
