
.login-form {
    background-image: url('/image/loginBackground.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px 0;
}

/* Căn giữa form đăng nhập */
.login-background {
    background-color: rgb(255, 255, 255); /* Form màu trắng */
    border-radius: 10px;
    margin-top: 100px;
    margin-bottom:100px;
    min-height: 50vh;
    align-items: center;
    justify-content: center;
}

/* Căn giữa nội dung */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    background-color: white !important;
}